<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<style>
    body{
        background-color: rgb(42, 44, 44);
        background-repeat: no-repeat;
        background-size: cover;
        color: beige;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .header{
        margin: 1%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        font-size: large;
    }

    .img-header{
        height: 150px;
        width: 150px;
        box-shadow: beige;
    }
    
    form{
        display: flex;
        justify-content: center;
        align-items:baseline;
        padding: 10px;
    }
    
    label{
        font-size:xx-large;
        padding-right: 10px;
    }
    .rounded-tbox{
        border: 0px;
        border-radius: 10px;
        height: 50px;
        width: 40%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: large;
        padding: 5px;
        text-align: center;
    }
    .sub-but{
        margin-top: 20px;
        height: 60px;
        width: 10%;
        border: 2px;
        border-radius: 10px;
        background-color:rgb(35, 35, 35);
        color: beige;
        font-weight: bolder;
        font-size: large;
    }
    
    .info{
        margin: 3% 20% 0% 20% ;
        text-align: center;
    }

    .img-icon{
        filter: drop-shadow(3px 2px 7px rgb(251, 253, 144));
        background-color: antiquewhite;
        border-radius: 50% 50%;
    }

</style>

<body>
    <div class="header">
        <img class="img-header" src="./images/cloud.png" alt="">
        <h1>Explore the Weather Around !</h1>
    </div>
    <div class="query">
        <form action="/" method="post">
            <label>Search a City</label>
            <input class="rounded-tbox" type="text" id="cityInp" name="cityInp">
            <button type="submit" class="sub-but">Show</button>
        </form>
    </div>
    <div class="info">
        <img class="img-icon" src="<%=imgURL%>" alt="">
        <h2><%=weatherString%></h2>
        <h3><%=descString%></h3>
    </div>
</body>
</html>